{% include directory ~ '/partials/header.html.twig'%}

    <section>

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://source.unsplash.com/1400x400/?mobile" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>ABOUT US</h3>
                        <p>We build Awesome, Create Awesome & Execute Awesome | We are on the way to archive better</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Why we are Here  -->
    <section id="specialities" class="bg-light ">
    <br>
        <div class="container text-left">
            <h1 class="title1">OUR STORY | WHAT WE DO</h1>
            <div class="row">
                <div class="col-md-7 ">
                    <p class="about_us_desc">We are connected with major Organizations | Assign the ask and make them complete Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio labore placeat laborum doloremque, quaerat reiciendis a recusandae quos culpa tenetur vel sed reprehenderit, quis perferendis eos! Animi illo nostrum fugiat delectus dolorem fuga, ipsum non accusamus earum labore exercitationem excepturi obcaecati dolores nobis magni, esse corporis laudantium ipsam, unde incidunt cum perferendis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum laboriosam hic beatae id culpa facere explicabo tenetur omnis? Nulla, mollitia.</p>
                    </ul>
                </div>
                <div class="col-md-5 imageforaboutus">
                    <img class="gr_img" src="/themes/custom/final/images/untrain.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <hr >
    <section class="bg-light mb-5">
    <br>
        <div class="container text-left">
            <h1 class="title2">VISION AND MISSION</h1>
            <div class="row">
            <div class="col-md-5 imageforaboutus">
                    <img class="gr_img" src="/themes/custom/final/images/unfuture.jpg" alt="">
                </div>
                <div class="col-md-7 ">
                    <p class="about_us_desc">We are connected with major Organizations | Assign the ask and make them complete Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio labore placeat laborum doloremque, quaerat reiciendis a recusandae quos culpa tenetur vel sed reprehenderit, quis perferendis eos! Animi illo nostrum fugiat delectus dolorem fuga, ipsum non accusamus earum labore exercitationem excepturi obcaecati dolores nobis magni, esse corporis laudantium ipsam, unde incidunt cum perferendis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum laboriosam hic beatae id culpa facere explicabo tenetur omnis? Nulla, mollitia.</p>
                    </ul>
                </div>
                
            </div>
        </div>
    </section>
<hr>
    <section>
        <div class="container my-4 ">
        <h1 class="title3">FUTURE PLANS</h1>

            <div class="row ">
                <div class="col-md-4 pb-3">
                    <div class="card">
                    <img src="/themes/custom/final/images/unforest.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title text-center">Planning & Analysis</h5>
                        <p class="card-text desc1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    </div>
                </div>
                <div class="col-md-4 pb-3">
                    <div class="card">
                    <img src="/themes/custom/final/images/unoptimize.jpg" class="card-img-top" alt="...">
                    <div class="card-body ">
                    <h5 class="card-title text-center">Implementation</h5>
                        <p class="card-text desc1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    </div>
                </div>
                <div class="col-md-4 pb-3">
                    <div class="card">
                    <img src="/themes/custom/final/images/unmountain.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title text-center">Optimization</h5>
                        <p class="card-text desc1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% include directory ~ '/partials/footer.html.twig'%}
